@media (max-width: 1600px) {
    
    paymentpurchase-summary{
        width: 25%;
        height: 100%;
}
}

.custom-payment-method {
    background-color: #F7F4F3; /* color de fondo */
    border-radius: 22px; 
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave opcional */
  }
  