h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.cardResultCotainer {
    min-height: 180px;
    width: 100%;
    background-color: #F24333;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 7px 5px rgba(0, 0, 0, 0.25);
}

.productImgContainer {
    height: 180px;
    width: 180px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}

.productImgContainer img {
    object-fit: cover;
    width: 100%;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 75%;
}

.productInfoContainer h2 {
    color: #F7F4F3;
    font-family: REM;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
}

.productInfoContainer h3 {
    color: #EED5C7;
    font-family: REM;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.productInfoContainer p {
    color: #EED5C7;
    font-family: REM;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}