.cardResultCotainer {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.productImgContainer img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.productInfoContainer {
    margin-left: 10px;
}

.productInfoContainer h2,
.productInfoContainer h3,
.productInfoContainer p {
    margin: 0;
    padding: 0;
}

/* Para tablets */
@media (max-width: 768px) {
    .productInfoContainer h2 {
        font-size: 18px;
    }

    .productInfoContainer h3,
    .productInfoContainer p {
        font-size: 16px;
    }
}

/* Para móviles */
@media (max-width: 480px) {
    .cardResultCotainer {
        flex-direction: column;
        align-items: center;
    }

    .productImgContainer img {
        max-width: 80px;
        max-height: 80px;
    }

    .productInfoContainer {
        margin-left: 0;
        text-align: center;
    }

    .productInfoContainer h2 {
        font-size: 16px;
    }

    .productInfoContainer h3,
    .productInfoContainer p {
        font-size: 14px;
    }
}
