.adContainer {
    width: fit-content;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adContainer img {
    object-fit: cover;
    height: 200px;
    width: auto;

}

@media (max-width: 420px) {
    .adContainer {
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 0;
    }

    .adContainer img {
        object-fit: cover;
        width: 200px;
        height: auto;
        border-radius: 10px;
    }
}