.adContainer {
    width: fit-content;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adContainer img {
    object-fit: cover;
    height: 200px;

}