@media (max-width: 1600px) {
    #mainPage {
        width: 100%;
        background-color: #F7F4F3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    categories-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    news-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    sales-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    recommended-section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}