@media (max-width: 1600px) {
    #newsSectionContaier {
        width: 100%;
        height: 370px;
        margin: 40px 50px 0 50px;
        background-image: url(/src/resources/jpg/sofaMainPage.jpg);
        background-size: cover;
        background-position-y: -540px;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #newsSection_textContainer {
        width: 100%;
        height: 70px;
        background-color: #F24333;
        display: flex;
        align-items: center;
    }

    #newsSection_textContainer h1 {
        color: #F7F4F3;
        font-family: REM;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0 0 0 20px;
    }
}