body {
    margin: 0;
    background-color: #352F44;
    font-family: REM;
    overflow-x: hidden;
}

h1, h2, h3, p {
    margin: 0;
    transition: color 0.3s ease; /* Animación de transición para el color del texto */
}

h1:hover, h2:hover, h3:hover, p:hover {
    color: #FAF0E6; /* Cambio de color de texto al pasar el mouse */
}

#mainSearchContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
}

#optionsContainer {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease; /* Animación de transición para la opacidad */
}

#optionsContainer:hover {
    opacity: 0.9; /* Cambio de opacidad al pasar el mouse */
}

#optionsContainer h2 {
    color: #FAF0E6;
    font-family: REM;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px 0;
    transition: color 0.3s ease; /* Animación de transición para el color del título */
}

#optionsContainer h2:hover {
    color: #EDEDED; /* Cambio de color del título al pasar el mouse */
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 30px;
    width: 71%;
}

search_results-card {
    margin: 0 0 20px 0;
    width: 100%;
    height: 50%;
    transition: background-color 0.3s ease; /* Animación de transición para el color de fondo */
    cursor: pointer; /* Cambio del cursor al pasar el mouse */
}

search_results-card:hover {
    background-color: #EDEDED; /* Cambio de color de fondo al pasar el mouse */
}

/* Código CSS existente ... */

/* Media query para tabletas */
@media (max-width: 1024px) {
    #mainSearchContainer {
        flex-direction: column;
    }

    #resultsContainer {
        margin: 30px 0 0 0;
        width: 100%;
    }
}

/* Media query para celulares */
@media (max-width: 768px) {
    #mainSearchContainer {
        padding: 20px;
    }

    #optionsContainer, #resultsContainer {
        margin-top: 20px;
    }

    search_results-card {
        height: auto; /* Ajusta la altura para celulares */
    }
}
