body {
    margin: 0;
    background-color: #352F44;
    font-family: REM;
    overflow-x: hidden;
}

h1, h2, h3, p {
    margin: 0;
}

#mainSearchContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
}

#optionsContainer {
    display: flex;
    flex-direction: column;
}

#optionsContainer {
    display: flex;
    flex-direction: column;
}

#optionsContainer h2 {
    color: #FAF0E6;
    font-family: REM;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px 0;
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 30px;
    width: 71%;
}

search_results-card {
    margin: 0 0 20px 0;
    width: 100%;
    height: 50%;
}

#navBar2 {
    display: none;
}

/* Media query para tabletas */
@media (max-width: 1024px) {
    #mainSearchContainer {
        flex-direction: column;
    }

    #optionsContainer {
        display: none; /* Oculta el contenedor de opciones en tabletas */
    }

    #resultsContainer {
        margin: 30px 0 0 0;
        width: 100%;
    }

    .search_results-card *:not(h2):not(.price) {
        display: none; /* Oculta todos los elementos dentro de la tarjeta que no sean h2 o tengan la clase price */
    }
}

@media (max-width: 420px) {
    #navBar2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 470px;
        background-color: #FAF0E6;
        position: relative;
        top: 171px;
    }

    #navBar2 nav-iconbutton{
        margin: 0 20px 0 20px;
    }

    #mainSearchContainer {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    search_results-card {
        display: flex;
        width: fit-content;
        margin: 0 20px 0 0 ;
    }

    #optionsContainer {
        display: none; /* Oculta el contenedor de opciones en celulares */
    }

    #resultsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #resultsContainer, .search_results-card {
        margin-top: 20px;
    }

    .search_results-card {
        height: auto; /* Ajusta la altura para celulares */
    }

    .search_results-card *:not(h2):not(.price) {
        display: none; /* Oculta todos los elementos dentro de la tarjeta que no sean h2 o tengan la clase price */
    }   
}