/* Animación de transición para h1, h2, h3 y p */
h1, h2, h3, p {
    margin: 0;
    width: 100%;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Animaciones de transformación, sombra y cambio de color de fondo */
    cursor: pointer; /* Cambio del cursor al pasar el mouse */
}

h1:hover, h2:hover, h3:hover, p:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
    background-color: #EDEDED; /* Cambio de color de fondo al pasar el mouse */
}

.recommendCardContainer {
    width: 200px;
    border-radius: 6px;
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 2px 0 2px;
}

.cardImageContainer {
    width: 90%;
    border-radius: 10px;
}

.cardImage {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
}

.textContainer {
    margin: 2px;
}

h2 {
    color: #352F44;
    font-family: REM;
    font-size: 16px;
    font-style: bolder;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #5C5470;
    font-family: REM;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #5C5470;
    font-family: REM;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
