/* Estilos generales */
#navbar {
    background-color: #F24333; /* Color de fondo de la barra */
    position: fixed; /* Hace que la barra sea estática y siempre visible */
    width: 100%; /* Asegura que la barra se extienda a lo ancho de la página */
    top: 0; /* Asegura que la barra se mantenga en la parte superior */
    left: 0; /* Alinea la barra con el lado izquierdo de la página */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    padding: 10px 0; /* Espaciado interno para la barra */
    display: flex; /* Utiliza Flexbox para alinear los elementos de la barra */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}
#navbar img {
    height: 50px;
    margin: 0 20px 0 10px;  
}

/* Estilos para ambos botones */
#navbar button {
    margin: 0 10px; /* Espaciado externo para los botones */
    padding: 10px 20px; /* Espaciado interno para los botones */
    border-radius: 30px; /* Bordes redondeados para los botones */
    font-size: 16px; /* Tamaño del texto de los botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

/* Estilos específicos para el botón 'sign-up' */
#navbar #sign-up {
    background-color: #F7F4F3; /* Color del texto del botón 'sign-up' */
    color: #F24333; /* Color del texto del botón 'sign-up' */
    border: 2px solid #F7F4F3; /* Color del texto del botón 'sign-up' */
}

/* Estilos específicos para el botón 'login' */
#navbar #login {
    background-color: #F24333; /* Color de fondo del botón 'login' */
    color: #F7F4F3; /* Color del texto del botón 'login' */
    border: 2px solid #F7F4F3; /* Añade un borde al botón 'login' */
}

/* Cambia el color del botón 'sign-up' al pasar el cursor */
#navbar #sign-up:hover {
    background-color: #F24333; /* Color de fondo con transparencia del 30% */
    color: #F7F4F3; /* Color del texto del botón 'sign-up' */
    border: 2px solid #F7F4F3;
}

/* Cambia el color del botón 'login' al pasar el cursor */
#navbar #login:hover {
    background-color: #F7F4F3; /* Color del texto del botón 'sign-up' */
    color: #F24333; /* Color del texto del botón 'sign-up' */
    border: 2px solid #F7F4F3; /* Color del texto del botón 'sign-up' */
}
