@media (max-width: 1600px) {
    .cardContainer {
        width: 100%;
        height: 150px;
        background-color: #F24333;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin: 20px 0 0 0;
    }

    .cardImage {
        height: 100%;
        width: 150px;
        background-position: center;
        background-size: cover;
    }

    .cardTextContainer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .cardTextContainer h2 {
        margin: 0;
        color: var(--Ligth, #F7F4F3);
        font-family: REM;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cardTextContainer h3 {
        margin: 0;
        color: var(--Primary-2, #5F2122);
        font-family: REM;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .buttonContainer {
        width: 100%;
        display: flex;
    }

    .buttonContainer p {
        margin: 0;
        color: var(--Secondary, #EED5C7);
        font-family: REM;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}