#menuUserProfile {
    width: 1257px;
    height: 156px;
    background-color: #F24333;
    color: #F7F4F3;
    margin: auto;
    margin-top:6%; /* Centrado en la página */
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    align-items: center;
    justify-content: center;
    font-size: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#menuUserProfile h1,h2,p {
    margin: 5px 0; /* Espaciado entre los párrafos */
}