#optionsInformationContainer {
    width: 300px;
    height: 300px;
    background-color: #F24333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.25);
}

#optionsInformationContainer h3 {
    color: #F7F4F3;
    font-family: REM;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}