#navBar2 {
    display: none;
}

@media (max-width: 420px) {
    #navBar2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        height: 80px;
        background-color: #FAF0E6;
        bottom: -63px;
    }

    #navBar2 nav-iconbutton{
        margin: 0 20px 0 20px;
    }

    advertising-section {
        width: auto;
        height: auto;
    }
}

