h1, h2, h3, h4, p {
    margin: 0;
}

.optionContainer {
    margin: 10px 0 0 0;
}

#optionTitle {
    color: #F7F4F3;
    font-family: REM;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#optionSelectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#optionSelectorContainer {
    color: #F7F4F3;
    font-family: REM;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#optionSelectorContainer select {
    width: 100%;
    background-color: #F7F4F3;
    border: none;
    color: #F24333;
    font-family: REM;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    margin: 10px 0 0 0;
    padding: 2px;
    
}

#optionSelectorContainer select:focus {
    border: none;
}
