.more-info-container {
    background-color: #F24333; /* color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra sutil */
    overflow: hidden; /* previene que los hijos desborden el contenedor */
    width: 110%;
    height: 80%;
    z-index: 10;
    display: flex;
    flex-direction: row;

    /* CSS para rotarlo */
    transform: rotate(6deg);
    transform-origin: 0% 0%;

    /* Para subirlo */
    position: relative;
    top: -166px;
}

.more-info-content {
    text-align: right; /* Alinea el texto a la derecha */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 35%;
    left: -18%;

    /* CSS para rotarlo a la normalidad*/
    transform: rotate(-6deg);
    transform-origin: 0% 0%;
}

.more-info-content h1 {
    color: #F7F4F3;
    font-family: REM;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.more-info-content p {
    color: #F7F4F3;
    font-family: REM;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 50%;
}

.more-info-container img {
    max-width: 80%; /* asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* mantiene la proporción de aspecto */
    position: relative;
    left: 12%;
    top: 8%;

    /* CSS para rotarlo a la normalidad*/
    transform: rotate(-6deg);
    transform-origin: 0% 0%;
}

#read-more {
    background-color: #564D4A;
    border: none;
    border-radius: 30px; /* Bordes redondeados para los botones */
    color: #F7F4F3;
    font-family: REM;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 42px;
    width: 140px;
}

#read-more:hover {
    background-color: #F24333; 
    color: #F7F4F3; 
    border: 2px solid #F7F4F3; 
}
