.categoriesCardContainer {
    width: 150px;
    height: 200px;
    border-radius: 6px;
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 2px 0 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.categoriesCardContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #EDEDED;
}

.cardImageContainer {
    width: 94%;
    overflow: hidden;
    border-radius: 10px;
    background-color: aliceblue;
}

.cardImage {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.categoriesCardText {
    margin: 15px 0 15px 0;
    color: #5C5470;
    font-family: REM;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Para móviles */
@media (max-width: 480px) {
    .cardImageContainer {
        display: none; /* Oculta la imagen en móviles */
    }

    .categoriesCardContainer {
        height: auto; /* Ajusta la altura del contenedor cuando no hay imagen */
        padding: 20px 2px; /* Ajusta el padding cuando no hay imagen */
    }
}

