#recommendedContainer {
    width: 100%;
    margin: 30px 25px 0 25px;
}

H2 {
    color: #FAF0E6;
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer; 
}

H2:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.recommendedCardsContainer {
    display: flex;
    overflow-y: scroll;
}

.recommendedCardsContainer::-webkit-scrollbar {
    display: none;
}

.recommended_section-card {
    margin: 0 20px 0 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}

.recommended_section-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Para tablets */
@media (max-width: 768px) {
    .recommended_section-card {
        margin: 0 10px 0 0; /* Reduce el margen entre las tarjetas */
    }
}

/* Para móviles */
@media (max-width: 480px) {
    .recommendedCardsContainer {
        flex-direction: column; /* Los elementos se apilan verticalmente */
        align-items: center;
    }

    .recommended_section-card {
        margin: 0 0 20px 0; /* Ajusta el margen para el apilamiento vertical */
    }
}
